<!--=======================================< Start Footer>=================================================-->
<div class="container-fluid" id="footer">
  <p class="lead">&copy; Copyright (c) 2017 Copyright Holder All Rights Reserved. &reg; For Milad Ezzat</p>
  <p>
    <a href="#"><i class="fa fa-google-plus-square fa-2x" aria-hidden="true"></i></a>
    <a href="#"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a>
    <a href="#"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a>
  </p>
</div>
<!--=======================================< Start Footer>=================================================-->
