<!--=======================================< Start Logo>=================================================-->
<div class="jumbotron jumbotron-fluid" id="logo">
  <div class="container">
    <div class="row">

      <div class="col-xs-12 col-md-8 col-lg-8">
        <h1>Car Components</h1>
        <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
      </div>

      <div class="col-xs-12 col-md-4 col-lg-4">
        {{#if login}}
          <p><a href="/user/logout">Logout</a> <a href="/">Home</a> </p>
          <p><a href="/user/profile"><i class="fa fa-user" aria-hidden="true"></i> User Account</a></p>
          <p>
            <a href="/shopping-cart">
              <i class="fa fa-shopping-cart" aria-hidden="true"></i> Shoping Cart <span class="badge">{{session.cart.totalQty}}</span>
            </a>
          </p>
        {{ else }}
          <p>
            <a href="/shopping-cart">
              <i class="fa fa-shopping-cart" aria-hidden="true"></i> Shoping Cart <span class="badge">{{session.cart.totalQty}}</span>
            </a>
          </p>
          <p><a href="/user/signup">Register</a>  <a href="/user/signin">Login</a>  </p>
          <p><a href="/">Home</a> </p>
        {{/if}}
      </div>

    </div>
  </div>
</div>
<!--=======================================< End Logo>=================================================-->
